#meio{
    width: 50%;
    border: 1px solid rgba(100, 100, 100, 0.05);
    background-color: rgba(100, 100, 100, 0.05);
    margin: auto;
}

#form{
    text-align: justify;
    margin: 0 auto;
    width: 50%;
}

.tipo{
    text-align: left;
}

.box{
    text-align: left;
}

#cadastro{
    margin: 5px auto;
    width: 50%;
    text-align: center;
}

h2{
    text-align: center;
}

@media screen and (max-width: 1000px){
    #meio{
        width: 90%;
        height: auto;
    }
       
}